body {
    margin: 0;
    font-family: 'Dancing Script', cursive; /* Use Dancing Script as the primary font, fallback to generic cursive */
    background: linear-gradient(90deg, #4a4a4a, #800080, #4a4a4a); /* Gradient background */
    background-size: 200% 100%;
    animation: gradient 5s infinite;
    color: #ffffff; /* White text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark grey container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    color: #ff66b2; /* Pink text color */
}

.intro, .birthday-wishes, .gift {
    margin-bottom: 20px;
}

main {
    text-align: justify;
}

h1 {
    font-size: 3em; /* Default font size for "HAPPY BIRTHDAY MY LOVE" */
    transition: transform 0.3s ease-in-out, color 1s ease-in-out; /* Smooth color and transform transition effect */
    animation: colorChange 5s infinite; /* Color changing animation */
}

h1:hover {
    color: #000000; /* Change text color on hover to black */
}

.intro p,
.birthday-wishes p,
.gift p {
    font-size: 1.3em; /* Default font size for paragraphs */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes colorChange {
    0% {
        color: #ff66b2; /* Current color */
    }
    50% {
        color: #404040; /* Dark grey */
    }
    100% {
        color: #000000; /* Black */
    }
}

@media (max-width: 600px) {
    /* Add mobile-specific styles if needed */
}
