body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(90deg, #4a4a4a, #800080, #4a4a4a);
    background-size: 200% 100%;
    animation: gradient 5s infinite;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    color: #ff66b2;
}

.intro, .birthday-wishes, .gift {
    margin-bottom: 20px;
}

main {
    text-align: justify;
}

h1 {
    font-size: 3em;
    transition: transform 0.3s ease-in-out, color 5s ease-in-out; /* Adjusted color change duration */
    animation: pulsate 2s infinite, colorChange 20s infinite; /* Adjusted color change duration */
}

h1:hover {
    color: #000000;
}

.intro p, .birthday-wishes p, .gift p {
    font-size: 1.3em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes colorChange {
    0% {
        color: #ff66b2;
    }
    25% {
        color: #808080; /* Grey */
    }
    50% {
        color: #ffffff; /* White */
    }
    75% {
        color: #c0c0c0; /* Lighter Grey */
    }
    100% {
        color: #ff66b2;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    /* Add mobile-specific styles if needed */
}
